.DS_Store
__pycache__
*.pyc
.vscode
.idea
.venv
quick_matching_tool/build
quick_matching_tool/upload_files/*
quick_matching_tool/dist/*
quick_matching_tool/config/credentials.json
!quick_matching_tool/dist/package_*.zip
!quick_matching_tool/dist/manifest.json